<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Temporal TF-IDF Visualization</title>
    <meta name="description" content="Temporal TF-IDF Visualization: github.com/benhorvath/tempo_tfidf">
    <meta name="author" content="Ben Horvath <benhorvath@gmail.com">

    <style>
      #wrapper {font-size:10px;}
    </style>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <h1>Temporal TF-IDF Visualization</h1>
    <p><a href='github.com/benhorvath/tempo_tfidf'>To Github</a></p>

    {% for date, scores in score_font_sizes.items() %}
      <h2>{{ date }}</h2>
      {% for word, score in scores.items() %}
        <p style='font-size:{{score}}px;'>{{ word }}</p>
      {% endfor %}
      <p></p>
    {% endfor %}

  {{score_font_sizes}}

  </body>

</html>
