<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Temporal TF-IDF Visualization</title>
    <meta name="description" content="Temporal TF-IDF Visualization: github.com/benhorvath/tempo_tfidf">
    <meta name="author" content="Ben Horvath <benhorvath@gmail.com">

    <style>
      #wrapper {margin:20px; padding:20px; overflow-x:auto; background:#eee;}
      #wrapper>div {width:600em;}
      .post {background:#fff,border:1px solid #e4e4e4; float:left; margin-left:20px; padding:40px; width:250px; word-wrap:break-word}
      .post p {margin-bottom:-.4em; line-height:.8em;}
      .post p:hover {border-bottom: 2px silver dashed; color:#C0C0C0;}
      .post h1 {margin-bottom: 50px; font-size:22px; text-transform:lowercase, text-align:center;}
    </style>

    <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
    <![endif]-->
  </head>

  <body>

    <h1>Temporal TF-IDF Visualization</h1>
    <p><a href='github.com/benhorvath/tempo_tfidf'>To Github</a></p>

    <div id='wrapper'><div>

      {% for date, scores in score_font_sizes.items() %}
        <div class='post'>
          <h1>{{ date }} (n = {{scores | length}})</h1>
          {% for word, score in scores %}
            {% if score >= 9 %}
              <p style='font-size:{{score}}px;'>{{ word }}</p>
            {% endif %}
          {% endfor %}
          <p></p>
        </div>
      {% endfor %}

    </div></div>

  </body>

</html>
